
/* #towndata section styles */

#towndata{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    column-gap: 10px;
}

#towndata article {
   border: 1px solid #073B3A;
}

#towndata p {
    margin: 5px 0;
}

#towndata ul {
    margin-top: 0;
}

#towndata h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
}
