@media only screen and (min-width: 64em ) {



    .headerLeft, .headerRight{
        display: block;
        margin-right: auto;
        margin-left: auto;
    }


    .headerLeft{
        float: left;
    }


    .headerRight{
        float: right;
    }

    .HolyGrail-body {
        flex-direction: row;
        flex: 1;
    }
    .HolyGrail-content {
        flex: 1;
    }
    .HolyGrail-nav, .HolyGrail-ads {
        /* 12em is the width of the columns */
        flex: 0 0 12em;
    }
    nav ul li.active, nav ul li.active a {
        background-color: #29335c;
        color:#fcac21;
    }

    nav ul li:hover a {
        color: #fcac21;
    }

    nav ul li.active, nav ul li:hover {
        background-color: #29335c;
        color:#fcac21;
    }

    #towndata article {
        min-width: 95%;
    }

    .image-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    article figure:hover {box-shadow: 5px 5px 10px brown;}
    /* rounded corners - boxmodel */
    .rocorn {border-radius: 5px 50px;}
    /* simple opacity */
    .opac {opacity: .5;}

    form label.sbs {
        padding: .4rem 0;
    }



}

