@media only screen and (min-width: 64em ) {

    .HolyGrail-body {
        flex-direction: row;
        flex: 1;
    }
    .HolyGrail-content {
        flex: 1;
    }
    .HolyGrail-nav, .HolyGrail-ads {
        /* 12em is the width of the columns */
        flex: 0 0 12em;
    }

    #towndata{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    #towndata article {
        min-width: 95%;
    }

    .image-gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    main img:hover {box-shadow: 5px 5px 10px gray;}
    /* rounded corners - boxmodel */
    .rocorn {border-radius: 5px 50px;}
    /* simple opacity */
    .opac {opacity: .5;}

    form label.sbs {
        padding: .4rem 0;
    }

}
