* {
    box-sizing: border-box;
    margin: 0;
}


.HolyGrail,
.HolyGrail-body {
    display: flex;
    flex-direction: column;
}

.HolyGrail-nav{
    order: -1;
    padding:8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.HolyGrail-ads {
    padding:8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-variant: normal;
    color: #F0CEA0;
    background-color: #534D41;
}

header, nav, footer, iframe {
    margin-left:auto;
    margin-right:auto;
}

body header, body footer {
    color:#29335C;
}

header, footer {
    display: flex;
    align-items: center;
    flex-flow: row;
    padding: 10px;
    background-color: #F0CEA0;
}

header figure{
    flex: 0 1 120px;
    text-align: center;
}

.motto-mobile {
    text-align: center;
    max-width: 600px;
}

.motto-full {
    display: none;
}

.HolyGrail-body h1,h2,h3,h4,h5,h6 {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-variant: normal;
    padding:10px;
    color: #fcac21;
}

nav button {
    color: #534D41;
    text-align: center;
    font-size: 1.6em;
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
}

nav {
    background-color: #fcac21;
}

nav ul {
    list-style: none;
    flex-flow: column;
    margin: 0;
    padding: 0;

}

nav ul.hide{
    display: none;
}

nav ul li{
    height: auto;
    border-top: 1px solid #fcac21;
    align-items: center;
    align-content:center;
    padding: 6px;
    text-align: center;
}

@media only screen and (max-width: 37.5em){
    nav ul li{
        height: 32px;
    }
}

nav ul li a {
    color: #29335c;
    text-decoration: none;
}

nav ul li.active a {
    color: #F0CEA0;
    font-style: italic;
}

nav ul li:hover a {
    color: #F0CEA0;
}

nav ul li.active, nav ul li:hover {
    background-color: #534D41;
    color:#F0CEA0;
}

main h2,main h3 {
    position: relative;
    text-align: center;
}

main a, main a:visited {
    color:#fcac21
}

.weather-summary{
    text-align: center
}

.weather-summary h3{
    padding-top: 0;
}

.weathersummarycontent {
    display: flex;
    flex-flow: column;
    align-items: center;
}

main {
    background-color: #29335c;
}

main article, main p, main h1 {
    margin-left: auto;
    margin-right: auto;
    padding: .25rem;
    max-width: 95%;
    text-align: justify;
}

main article img {
    max-width: 300px;
    float:right;
    padding: 8px;
}

.HolyGrail-nav p{
    padding: 12px;
}

iframe{
    padding:8px;
    max-width: 96%;
}

/*-----------  FORM --------------*/

form fieldset {
    margin: 4rem 1%;
    border: 1px solid #fcac21;
    border-radius: 10px;
    padding: .5rem 2%;
}


form legend {
    color: #fcac21;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    color: #fcac21;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #fcac21;
    border-radius: 4px;
    padding: .75rem;
    color: #29335c;
    width: 100%;
    max-width: 95%;
    background-color: #F0CEA0;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #fcac21;
}

form input.submitButton, .HolyGrail-nav input.submitButton{
    border: 1px #29335c solid;
    background-color: #fcac21;
    color: #29335c;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 96%;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*-----------  END FORM --------------*/
footer {
    clear: both;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

footer aside {
    padding: .5rem;
}

footer a{
    color: #29335C;
}



footer a:visited{
    color: #db2b39;
}

footer a:hover{
    color: #534D41;
}
