@media only screen and (min-width: 37.5em) {

    header, nav, main, footer {
        max-width: 1360px;
        display: flex;
    }

    header,nav {
        flex-flow: row;
        align-items: center;
        justify-content: center;
    }

    main, footer {
        flex-flow: column;
    }

    header h1 {
        font-size: 2.5rem
    }

    header p.motto {
        font-style: italic;
        font-size: 1.5rem;
    }

    nav button{
        display:none;
    }

    nav ul.hide{
        display: flex;
        flex-flow: row;
        align-items: center;
    }

    nav ul{
        margin-left: 2%;
    }

    nav ul li{
        border-top: none;
        padding:.6rem 1rem;
        font-size: 1.2em;
    }

    .forecast {
        display: flex;
        flex-flow: column;
        padding-top: 5px;
        max-width: 600px;
        margin-left:auto;
        margin-right:auto;
        padding-left: 2%;
        padding-right: 2%;
    }

    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
    }

    th, td {
        text-align: center;
        padding: 8px;
    }

    main article img {
        width: 70%;
        float: right;
        margin: 7px;
        box-shadow: 3px 3px 3px #bbb;
    }

    main article {
        max-width: 900px;
        margin-left:auto;
        margin-right:auto;
        padding: 2%;
    }


    .image-gallery{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}
