@media only screen and (min-width: 37.5em) {

    nav img.button {
        display:none;
    }

   .forecast {
        display: contents;
        display: block;
        clear: both;
        padding-top: 5px;
    }

    * {
        flex-flow: row wrap;
    }

    header, nav, main, footer {
        max-width: 100%;
        display: block;
    }

    nav ul li {
        display: inline-block;
    }



    main article img {
        width: 70%;
        float: right;
        margin: 7px;
        box-shadow: 3px 3px 3px #bbb;

    }


}
